<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SIT 725 Prac5</title>
    <meta name="description" content="basic template for SIT 725 Prac3">
    <meta name="author" content="SitePoint">
    <meta property="og:title" content="SIT 725 Prac3">
    <meta property="og:type" content="website">
    <meta property="og:description" content="basic template for SIT 725 Prac3">
</head>

<body>
    <main>

        <h1>Random Number from Server:</h1>
        <div id="number">Waiting...</div>

    </main>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/scripts.js"></script>
</body>

</html>